<div class="post-block sidepanel-block" style="border: 1px solid red">
    <div class="post-image">
        {% if post_format == 'video' or post_format == 'audio' and gva_iframe %}
            {{ content.field_video_default }}
        {% elseif post_format == 'gallery' and content.field_post_gallery %}
            {{ content.field_slideshow_default }}
        {% elseif content.field_special_image %}
            {{ content.field_special_image }}
        {% else %}
            {{ content.field_image }}
        {% endif %}
    </div>
    <a href="{{ content.url }}">
        <div class="post-content text-ovelay-pic" style="color: red">
            <div class="sidepanel-no-hover">
                {% set text = label|render|striptags %}
                <div class="post-side-title heading-two" style="overflow: hidden; color: #FF0000">{{ text|length > 45 ? text|slice(0, 45)|raw ~ '...' : text|raw }}</div>
                <span class="post-created style-three" style="color: #FFFFFF">{{ date }} </span>
            </div>
            <div class="sidepanel-hover">
                <div class="post-summary" style="overflow: hidden; color: #FFFFFF">
                    {% set summary = content.field_punchline|render|striptags %}
                    <div class="post-summary style-two" style="overflow: hidden; color: #FFFFFF">{{ summary|length > 75 ? summary|slice(0, 75)|raw ~ '...' : summary|raw }}</div>
                </div>
            </div>
        </div>
    </a>
</div>