{%
set classes = [
'node',
'node-detail',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'clearfix',
'content-box',
'post-block '
]
%}
{% if box == true %}
    <!--### ###-->
    <!--=== ===-->
    <!-- -->
    <!-- -->
    <!--=== ===-->
    <!--### ###-->

<!--*#*#*#*#*#*# Node Special Box *#*#*#*#*#*#-->
<article{{ attributes.addClass(classes) }}>

    <!--### Outer ###-->

    <!--=== Top Right===-->
    <div class="box_outer_top_right logo-then-name">
        {{ content.field_special_sub_category }}
    </div>
    <!--=== End Top Right===-->

    <!--=== Top Left===-->
    <div class="box_outer_top_left logo-then-name">
        {{ content.field_content_category }}
    </div>
    <!--=== End Top Left===-->
    <!--=== Top Bottom Left===-->
    <div class="box_outer_bottom_left"></div>
    <!--=== End Bottom Left==-->

    <!--### End Outer ###-->

<!--***********************************************************************************************************-->

    <!--### Header ###-->
    <!--=== Box Head===-->
    <div class="post-image box-head">
        <!-- Box Head Image-->
        <div class="content-image box-head-image">
            {{ content.field_special_image }}
        </div>
    </div>
    <!--=== End Box Head===-->
    <!--### End Header ###-->

<!--***********************************************************************************************************-->

    <!--### Body ###-->
    <div class="box__body">
        <!--=== ===-->
        <div class="box__special special_box__special">
            {{ content.field_block_one }}
        </div>
        <!--=== ===-->
        <!--=== ===-->
        <div class="box__body_bottom">
            <div class="pull-left just-logo mini-space">{{ content.field_tax_embed_one }}</div>
            <div class="pull-left box__title"><a href="{{ url }}">{{ label }}</a></div>
        </div>
        <!--=== ===-->
    </div>
    <!--### End Body ###-->

<!--***********************************************************************************************************-->
    <!--### Footer ###-->
    <div class="card-foot countdown-card-foot box-footer">
        <!--=== ===-->
        <div class="category-list item-list countdown-card-readmore">
            <!-- -->
            <div class="item-list">
                <ul><li class="view-list-item card-read-more box-footer-link"><a href="{{ url }}" hreflang="en"><span class="text-theme">Read More</span> | {{ date }}</a></li></ul>
            </div>
            <!-- -->
        </div>
        <!--=== ===-->
    </div>
    <!--### End Footer###-->
<!--***********************************************************************************************************-->

</article>
<!--*#*#*#*#*#*#  Node Special Box *#*#*#*#*#*#-->
{% endif %}