{%
set classes = [
'node',
'node-detail',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'clearfix',
'content-card',
'post-block '
]
%}

{% if teaser == true %}
    <!-- Start Display article for teaser page -->
    <!-- End Display article for teaser page -->
{% elseif card == true %}

    {#<span>{{ field_names }}</span>#}
    <!-- Start Display article for card page -->
    <article{{ attributes.addClass(classes) }}>
        <div class="post-image card-head">
            <div class="content-image card-image">
                {% if post_format == 'video' or post_format == 'audio' and gva_iframe %}
                    {{ gva_iframe|raw }}
                {% elseif post_format == 'gallery' and content.field_post_gallery %}
                    {{ content.field_post_gallery }}
                {% else %}
                    {{ content.field_image }}
                {% endif %}
            </div>
            {# Start of https://codepen.io/marceloag/pen/nzLmu?depth=everything&order=popularity&page=7&q=card&show_forks=false #}
            <div class="avatarcontainer">
                {{ content.field_tax_embed_one }}
                <div class="hover">
                    <div class="icon-twitter"></div>
                </div>
            </div>
            {# END of https://codepen.io/marceloag/pen/nzLmu?depth=everything&order=popularity&page=7&q=card&show_forks=false #}
        </div>
        <!---- Icon ----->
        <div class="card__icon">

        </div>

        <!---- Body Conent ----->
        <div class="card__body">
            <div class="card__category"><a href="#">Photos</a></div>
            <h2 class="card__title"><a href="#">We're on a highway to hell!</a></h2>
            <div class="card__subtitle">Bender is frying Doc !</div>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit cumque non commodi, modi recusandae cupiditate ipsa ab soluta. Illum, dolore.</p>
        </div>

        <!---- Footer Conent ----->
        <footer class="card__footer">
            <span class="icon ion-clock"></span> 6min ago
            <span class="icon ion-chatbox"></span><a href="#"> 42 comments</a>
        </footer>

    </article>



    <!-- End Display article for card page -->

{% else %}
    <!-- Start Display article for detail page -->
    <article{{ attributes.addClass(classes) }}>
        <div class="post-block">

            <div class="post-thumbnail post-{{ post_format }}">
                {% if post_format == 'video' or post_format == 'audio' and gva_iframe %}
                    {{ gva_iframe|raw }}
                {% elseif post_format == 'gallery' and content.field_post_gallery %}
                    {{ content.field_post_gallery }}
                {% else %}
                    {{ content.field_image }}
                {% endif %}
            </div>

            <div class="post-content">
                {{ title_prefix }}
                <h1{{ title_attributes.addClass('post-title') }}>{{ label }}</h1>
                {{ title_suffix }}
                <div class="post-meta">
                    <span class="post-categories">{{ content.field_post_category }}</span> /
                    <span class="post-created"> {{date }} </span> /
                    <span class="post-comment">
          <a href="{{url}}/#comments">{{ comment_count }} Comments</a>
        </span> /
                    <span>{{ author_name }}</span>
                </div>

                {% if display_submitted %}
                    <div class="node__meta hidden">
                        {{ author_picture }}
                        <span{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          </span>
                        {{ metadata }}
                    </div>
                {% endif %}

                <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
                    {{ content|without('field_image','field_post_category', 'field_post_format', 'field_post_type', 'field_post_embed', 'field_post_gallery', 'comment') }}
                </div>
                <div id="node-single-comment">
                    {{ content.comment }}
                </div>

            </div>

        </div>

    </article>
    <!-- End Display article for detail page -->
{% endif %}