{%
set classes = [
'node',
'node-detail',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'clearfix',
'content-box',
'post-block '
]
%}
{% if box == true %}

<!--*********************************************| Object level |****************************************************-->
<article{{ attributes.addClass(classes) }}>
<!--************************************************| ICONS |**************************************************-->
    <!--=== Top Right===-->
    <div class="box_icon_top_right box-icons logo-then-name">
        {{ content.field_special_sub_category }}
    </div>
    <!--=== End Top Right===-->
    <!--=== Top Left===-->
    <div class="box_icon_top_left box-icons logo-then-name">
        {{ content.field_content_category }}
    </div>
<!--************************************************| HEADER |**************************************************-->
    <!--=== Box Head===-->
    <div class="box__head post-image">
        <!-- Box Head Image-->
        <div class="box__head_image">
            {{ content.field_special_image }}
        </div>
    </div>
    <!--=== End Box Head===-->
<!--************************************************| BODY |**************************************************-->

    <div class="box__body">
        <!--=== ===-->
        {% if content.field_block_one['#items'] is not empty %}
            <div class="box__special special_box__special">
                {{ content.field_block_one }}
            </div>
        {% else %}
            <div class="box__punchline">
                {{ content.field_punchline }}
            </div>
        {% endif %}
        <!--=== ===-->
        <!--=== ===-->
        <div class="box__body_bottom">
            <div class="box_icon_title_left pull-left just-logo mini-space">{{ content.field_tax_embed_one }}</div>
            <div class="box__title pull-left"><a href="{{ url }}">{{ label }}</a></div>
        </div>
        <!--=== ===-->
    </div>

<!--***********************************************************************************************************-->
    <!--### Footer ###-->
    <div class="box__footer">
        <!--=== ===-->
        <div class="box__footer_date_more category-list item-list">
            <div class="item-list">
                <ul><li class="box__footer_link view-list-item"><a href="{{ url }}" hreflang="en"><span class="box__read_more text-theme">Read More</span> | {{ date }}</a></li></ul>
            </div>
        </div>
        <!--=== ===-->
    </div>
    <!--### End Footer###-->
<!--***********************************************************************************************************-->
</article>
{% endif %}