{%
set classes = [
'node',
'node-detail',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'clearfix',
'content-card',
'post-block '
]
%}
{% if card == true %}

<!--*#*#*#*#*#*# Node Article Card *#*#*#*#*#*#-->
<article{{ attributes.addClass(classes) }}>

    <!--### Outer ###-->

    <!--=== Top Right===-->
    <div class="card_outer_top_right">
        {{ content.content_sub_category }}
    </div>
    <!--=== End Top Right===-->

    <!--=== Top Left===-->
    <div class="card_outer_top_left"></div>
    <!--=== End Top Left===-->

    <!--=== Bottom Right===-->
    <div class="card_outer_bottom_right"></div>
    <!--=== End Bottom Right===-->

    <!--=== Top Bottom Left===-->
    <div class="card_outer_bottom_left"></div>
    <!--=== End Bottom Left==-->

    <!--### End Outer ###-->

<!--***********************************************************************************************************-->

    <!--### Header ###-->
    <!--=== Card Head===-->
    <div class="post-image card-head">
        <!-- Card Head Image-->
        <div class="content-image card-head-image">
            {% if post_format == 'video' or post_format == 'audio' and gva_iframe %}
                {{ gva_iframe|raw }}
            {% elseif post_format == 'gallery' and content.field_post_gallery %}
                {{ content.field_post_gallery }}
            {% else %}
                {{ content.field_image }}
            {% endif %}
        </div>
        <!-- End Card Head Image-->
        <!-- Card Head Avatar-->
        <div class="card-head-avatar">
            {{ content.field_tax_embed_one }}
            <!-- Card Head Avatar Hover -->
            <div class="card-head-avatar-hover">
                <div class="card-avatar-hover-icon">
                    <a href="{{ url }}">
                        <span class="icon icon-Twitter"></span>
                        <p class="avatar-bottom-text">Read More</p>
                    </a>
                </div>
            </div>
            <!-- End Card Head Avatar Hover -->
        </div>
        <!--End Card Head Avatar-->
    </div>
    <!--=== End Card Head===-->
    <!--### End Header ###-->

<!--***********************************************************************************************************-->

    <!--### Outer Body ###-->
    <div class="card-belt-icon-left">
        {{ content.field_content_category }}
    </div>

    <div class="card-belt-icon-right">
        {{ content.field_tax_embed_one }}
    </div>
    <!--### End Outer Body ###-->

<!--***********************************************************************************************************-->
    <!--### Body ###-->
    <div class="card__body">
        <!--=== ===-->
        <div class="card__category">
            {{ content.field_punchline }}
        </div>
        <!--=== ===-->

        <!--=== ===-->
        <h2 class="card__title">
            <a href="{{ url }}">{{ label }}</a>
        </h2>
        <!--=== ===-->

        <!--=== ===-->
        <div class="card__subtitle">
            {{ content.field_punchline }}
        </div>
        <!--=== ===-->

        <!--=== ===-->
        <p class="card__description">
            <a href="{{ url }}">Read More {{ date }}</a>
        </p>
        <!--=== ===-->
    </div>
    <!--### End Body ###-->

<!--***********************************************************************************************************-->
    <!--### Footer ###-->
    <footer class="card__footer">
        <!--=== ===-->
        <span class="icon ion-clock"></span>
        {{ date }}
        <!--=== ===-->
        <!--=== ===-->
        <span class="icon ion-chatbox"></span>
        <a href="{{ url }}">
            {{ comment_count }} comments
        </a>
        <!--=== ===-->
        <!--=== ===-->
        <span class="read-more text-theme">
            <a href="{{ url }}">Read More</a>
        </span>
        <!--=== ===-->
    </footer>
    <!--### End Footer###-->
<!--***********************************************************************************************************-->

</article>
<!--*#*#*#*#*#*#  Node Article Card *#*#*#*#*#*#-->
{% endif %}