{%
set classes = [
'node',
'full__content',
'full__content_article',
'node-detail',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'clearfix',
]
%}


<article{{ attributes.addClass(classes) }}>
<!--*********************************************| HEAD |****************************************************-->
    <div class="full__head" style="min-height: 50px">
        <div class="full__media post-thumbnail post-{{ post_format }}">
            {% if post_format == 'video' or post_format == 'audio' and gva_iframe %}
                {{ gva_iframe|raw }}
            {% elseif post_format == 'gallery' and content.field_post_gallery %}
                {{ content.field_post_gallery }}
            {% else %}
                {{ content.field_image }}
            {% endif %}
        </div>
    </div>

    <div class="widget gsc-heading  align-center style-5 full__title" style="padding-bottom: 0 !important; margin-bottom: 0 !important;">

        <h2 class="title">
            <span>{{ label }} </span><span class="title-icon"><span><i class="fa fa-diamond"></i></span></span>
        </h2>
        <div class="full__title_info">
            <span class="post-created"> {{date }} </span> /
            <span class="post-comment"> {{ comment_count }} Comments</span> /
            <span class="author-name">{{ author_name }}</span>
        </div>
        <div class="line">
            <span class="one"></span>
            <span class="second"></span>
            <span class="three"></span>
        </div>
    </div>
    <div class="full__tags widget gsc-heading  align-center">
        {{ content.field_tags }}
    </div>
<!--*********************************************| BODY |****************************************************-->
    <div class="full__body">
        <!--(*******************************) body middle left (************************)-->
        <div class="full__body_left">
            <div class="widget gsc-heading align-center" style="padding: 0 !important;">
              {{ content.field_tax_embed_one }}
            </div>
            <div class="widget gsc-heading align-center" style="padding: 0 !important;">
                <div class="title-square">
                    <span style="padding: 3px">Share<i class="fa fa-share-alt"></i></span>
                </div>
            </div>
            <div class="widget gsc-heading align-center" style="padding: 0 !important;">
                <a target="_blank" href={{ fb_share }}>
                    <div class="title-icon">
                        <span><i class="fa fa-facebook"></i></span>
                    </div>
                </a>
            </div>
            <div class="widget gsc-heading align-center" style="padding: 0 !important;">
                <a target="_blank" href={{ twitter_share }}>
                    <div class="title-icon">
                        <span><i class="fa fa-twitter"></i></span>
                    </div>
                </a>
            </div>
            <div class="widget gsc-heading align-center" style="padding: 0 !important;">
                <div class="title-square">
                    <span style="padding: 3px">Views<div class="node-views">457</div></span>
                </div>
            </div>
            <div class="widget gsc-heading align-center" style="padding: 0 !important;">
                <div class="title-square">
                    <span style="padding: 3px">Shares<div class="node-views">175</div></span>
                </div>
            </div>
        </div>
        <!--(*******************************) body middle center (************************)-->
        <div class="full__body_center">

            <div class="full__body_center_top">
                <div class="full__main" style="clear: both">
                    {{ content.field_block_one }}
                </div>
            </div>

            <div class="full__body_center_middle">
                <div class="widget gsc-quote-text  wow fadeInDown full__body_center_middle_summary" style="visibility: visible; animation-name: fadeInDown; padding: 10px 10px 10px 50px">
                    <div class="widget-content style-two full__short_summary" style="padding: 0 !important;">
                        <i class="icon fa fa-quote-left"></i>
                        <span class="dropcap bg-dropcap bg-text-kind">Short<br>Summary</span>
                        {% if content.field_punchline['#items'] is not empty %}
                            {{ content.field_punchline }}
                        {% else %}
                            See full details below..
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 full__body_center_left" style="clear: both;">
                    <div class="widget gsc-heading align-center" style="padding: 0 !important; clear: both">
                        {{ content.field_content_category }}
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 full__body_center_center">
                    {# tax embed one #}
                    {#<div class="widget gsc-heading align-center" style="padding: 0 !important; clear: both">#}
                    {#{{ content.field_tax_embed_one }}#}
                    {#</div>#}

                    {# Style 2 Read More Circle #}
                    {#<div class="widget gsc-heading align-center" style="padding: 0 !important; clear: both; margin-bottom: -50px; z-index: 50">#}
                    {#<a href="#full__body">#}
                    {#<div class="title-icon">#}
                    {#<span style="padding-top: 9px; font-size: 8px">More<i class="fa icon-Arrow-Down2" style="margin-top: -2px; font-weight: bold;"></i></span>#}
                    {#</div>#}
                    {#</a>#}
                    {#</div>#}

                    {#Style 3 Read More No Circle#}
                    <div class="full-read-more" style="text-align: center; clear: both; padding-top: 15px">
                        <div class="full-read-more-text" style="font-size: 8px; margin-bottom: -5px">Read More</div>
                        <div class="full-read-more-icon" style="margin-bottom: -10px"><a href="#full__body"><i class="fa icon-Arrow-Down2" style="font-size: 32px;"></i></a></div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 full__body_center_right">
                    <div class="widget gsc-heading align-center" style="padding: 0 !important; clear: both">
                        {{ content.content_sub_category }}
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-sm-12 full__body_center_bottom">
                <div class="gsc-tabs">
                    <div class="tabs_wrapper tabs_vertical">
                        <ul class="nav nav-tabs" style="padding: 10px">
                            <li class="active">
                                <a  class="heading-two" data-toggle="tab" href="#567800qy7-1">Feedback</a>
                            </li>
                            <li>
                                <a  class="heading-two" data-toggle="tab" href="#567800qy7-2">Links</a>
                            </li>
                            <li>
                                <a  class="heading-two" data-toggle="tab" href="#567800qy7-3">Sources</a>
                            </li>
                        </ul>
                        <div class="tab-content" style="padding: 10px 10px 10px 0;">
                            <div id="567800qy7-1" class="tab-pane fade active in" style="padding: 5px !important;">
                                {{ content.field_voting }}
                            </div>
                            <div id="567800qy7-2" class="tab-pane fade" style="padding: 5px !important;">
                              {{ content.field_referral_link }}
                            </div>
                            <div id="567800qy7-3" class="tab-pane fade" style="padding: 5px !important;">
                              {{ content.field_resources_links }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--(*******************************) body middle right (************************)-->
        <div class="full__body_right" style="background:orange">
        </div>
    </div>
<!--*********************************************| FOOT |****************************************************-->
    <div id="full__body" class="full__foot">
        <div class="col-md-12 col-sm-12 full__foot_inner" style="padding: 0; margin-bottom: 20px">
            <div class="gsc-tabs ">
                <div class="tabs_wrapper tabs_horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#full__foot_body_tab" class="heading-three">Body</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#full__foot_comments_tab" class="heading-three">Comments</a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#full__foot_disclaimer_tab" class="heading-three">Disclaimer</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="full__foot_body_tab" class="tab-pane fade active in style-three">
                            <span class="dropcap border-dropcap">A</span>
                            {{ content.body }}
                        </div>
                        <div id="full__foot_comments_tab" class="tab-pane fade style-three">
                            {#{{ content.comment }}#}
                            {{ content.field_feedback }}
                        </div>

                        <div id="full__foot_disclaimer_tab" class="tab-pane fade style-three">
                            {% include '@gavias_financial/page/parts/disclaimer.html.twig' with {'type' : getType|default('Content') } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--*********************************************| END FULL |****************************************************-->
</article>
    {#<h3>node-article-full</h3>#}
    {#<div class="post-block">#}

        {#<div class="post-thumbnail post-{{ post_format }}">#}
            {#{% if post_format == 'video' or post_format == 'audio' and gva_iframe %}#}
                {#{{ gva_iframe|raw }}#}
            {#{% elseif post_format == 'gallery' and content.field_post_gallery %}#}
                {#{{ content.field_post_gallery }}#}
            {#{% else %}#}
                {#{{ content.field_image }}#}
            {#{% endif %}#}
        {#</div>#}

        {#<div class="post-content">#}
            {#{{ title_prefix }}#}
            {#<h1{{ title_attributes.addClass('post-title') }}>{{ label }}</h1>#}
            {#{{ title_suffix }}#}
            {#<div class="post-meta">#}
                {#<span class="post-categories">{{ content.field_post_category }}</span> /#}
                {#<span class="post-created"> {{date }} </span> /#}
                {#<span class="post-comment"> {{ comment_count }} Comments</span> /#}
                {#<span>{{ author_name }}</span>#}
            {#</div>#}
        {#{% if display_submitted %}#}
            {#<div class="node__meta hidden">#}
                {#{{ author_picture }}#}
                {#<span{{ author_attributes }}>Submitted by {{ author_name }} on {{ date }}</span>#}
                {#{{ metadata }}#}
            {#</div>#}
        {#{% endif %}#}


            {#<div{{ content_attributes.addClass('node__content', 'clearfix') }}>#}
                {#{{ content|without('field_image','field_post_category', 'field_post_format', 'field_post_type', 'field_post_embed', 'field_post_gallery', 'comment') }}#}
            {#</div>#}
            {#<div id="node-single-comment">#}
                {#{{ content.comment }}#}
            {#</div>#}

        {#</div>#}

    {#</div>#}



