{%
set classes = [
'node',
'node-detail',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'clearfix',
'content-card',
'post-block '
]
%}
{% if card == true %}
<!--*********************************************| Object level |****************************************************-->
<article{{ attributes.addClass(classes) }}>
<!--************************************************| ICONS |**************************************************-->
<!--=== Top Right===-->
<div class="card-icon-top-right logo-then-name">
    {# Read web/themes/gavias_financial/site-control-classes.txt #}
    {# themes/gavias_financial/templates/content/taxonomy-term--special-class-types--token.html.twig #}
    {{ content.field_special_sub_category }}
</div>
<!--=== End Top Right===-->
<!--************************************************| HEADER |**************************************************-->

<!--### Header ###-->
<!--=== Card Head===-->
<div class="card__head post-image">
    <!-- Card Head Image -->
    <div class="card__head_image">
        {{ content.field_special_image }}
    </div>
    <!-- End Card Head Image-->
    <!-- Card Head Avatar Hover -->
    <div class="card__head_avatar">

        <!-- Card Head Avatar Default -->
        <div class="card__head_avatar_default">
            {{ content.field_tax_embed_one }}
        </div>
        <!-- End Card Head Avatar Default -->

        <!-- Card Head Avatar Hover -->
        <div class="card__head_avatar_hover">
            <div class="card-avatar-hover-icon">
                <a href="{{ url }}">
                    <span class="icon icon-Twitter"></span>
                    <p class="avatar-bottom-text">Read More</p>
                </a>
            </div>
        </div>
        <!-- End Card Head Avatar Hover -->

    </div>
    <!-- End Card Head Avatar -->
</div>
<!--=== End Card Head===-->
<!--### End Header ###-->

<!--************************************************| BELT |**************************************************-->

    <!--### Card Belt Icons ###-->

    <div class="card-belt-icon-left name-then-logo">
        {# Read web/themes/gavias_financial/site-control-classes.txt #}
        {# themes/gavias_financial/templates/content/taxonomy-term--category--just-symbol.html.twig #}
        <span class="post-categories">{{ content.field_content_category }}</span>
    </div>

    <div class="card-belt-icon-right belt-share-links">
        <div class="pull-left text-left">
            <ul class="inline">
                <li class="message"><a target="_blank" href="#"><i class="fa fa-share-alt" style="color: #000000; font-size: 16px; cursor: default;"></i></a></li>
                <li style="margin-left: 0;"><a target="_blank" href={{ fb_share }}><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href={{ twitter_share }}><i class="fa fa-twitter"></i></a></li>
                {#todo steemit and pick one between reddit and pinteret #}
                {#<li><a target="_blank" href="https://pinterest.com/pin/create/button/?url=&media=https%3A//www.youtube.com/watch?v=CZkUNPBlJIQ&description="><i class="fa fa-pinterest-p"></i></a></li>#}
                {#<li><a target="_blank" href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent('https://www.youtube.com/watch?v=0URpDxIjZrQ'); return false"><i class="fa fa-reddit"></i></a></li>#}
            </ul>
        </div>
    </div>

    <!--### End Card Belt Icons ###-->

<!--************************************************| BODY |**************************************************-->
    <!--### Body ###-->
    <div class="card__body">
        <!--=== ===-->
        <div class="card__special special_card__special">
            {{ content.field_block_one }}
        </div>
        <!--=== ===-->

        <!--=== ===-->
        <div class="card__title">
            <a href="{{ url }}">{{ label }}</a>
        </div>
        <!--=== ===-->

        <!--=== ===-->
        <div class="card__punchline">
            {{ content.field_punchline }}
        </div>
        <!--=== ===-->
    </div>
    <!--### End Body ###-->

<!--************************************************| FOOTER |**************************************************-->
    <!--### Footer ###-->
    <footer class="card-footer">
        <!--=== div card__footer ===-->
        <div class="card__footer">
            <!--=== Default Date + Comments ===-->
            <span class="foot-date">
                <span class="icon icon-Calendar-4" style="color: #3498db; font-size: 16px;"></span>
                {{ date }}
            </span>
            <span class="foot-comments">
                <span class="icon icon-Speach-Bubble" style="color: #3498db; font-size: 16px;"></span>
                <a href="{{ url }}">
                    {{ comment_count }} Comments
                </a>
            </span>
            <!--=== End  Default Date + Comments ===-->
            <!--=== Hover Pull UP ===-->
            <span class="card__pullup">
                <a href="{{ url }}">Read More</a>
                <span class="icon icon-Cursor-Click2" style="color: #3498db; font-size: 20px;"></span>
            </span>
            <!--=== End Hover Pullup ===-->
        </div>
        <!--=== END div card__footer ===-->
    </footer>
    <!--### End Footer###-->
</article>
{% endif %}