{% if attributes -%}
   <div{{ attributes }}>
{% endif %}

{% if owlViewName is defined %}
   {% set viewName = owlViewName %}
{% else %}
   {% set viewName = 'generic' %}
{% endif %}
   
   {% if title %}
      <h3>{{ title }}</h3>
   {% endif %}


    {% for row in rows %}
         <div class="item {{ row.content['#view_mode'] }} slider {{ viewName }}">
            <div{{ row.attributes }}>{{ row.content|raw }}</div>
         </div>
    {% endfor %}

{% if attributes -%}
    </div>
{% endif %}
